:root {
  --dark: #111111;
  --light-dark: #1e1823;
  --grey: #4c4c4c;
  --orange: #fd9222;
  --milk: #fcf1e0;
  --white-milk: #fafafa;
  --white: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--dark);
  background-color: var(--white-milk);
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

footer {
  background-color: var(--light-dark);
  color: var(--white);
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.container-header {
  width: 1136px;
}

.section {
  padding-bottom: 120px;
}

.section-three {
  padding-top: 120px;
}

.header {
  width: 1136px;
  margin: 0 auto;
}

.header .container-header {
  padding-top: 24px;
  padding-bottom: 20px;
  display: flex;
  background-color: var(--white-milk);
}

.icon-chocolate {
  padding-left: 4px;
}

.container-header nav,
.container-header ul {
  display: flex;
}

.logo-link {
  display: flex;
  text-transform: uppercase;
  color: var(--dark);
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.54px;
  margin-right: 4px;
}
.logo-link .simply-italic {
  font-style: italic;
}

.logo {
  padding-right: 304px;
  margin: 0;
}

.icon-chocolate {
  stroke: var(--orange);
  fill: var(--white-milk);
}

.nav-list {
  gap: 24px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.28px;
  padding-right: 90px;
  margin: 0;
  align-items: center;
  align-content: center;
}

.nav-list a {
  color: var(--dark);
}

.nav-link {
  position: relative;
  display: block;
  padding-bottom: 8px;
}

.nav-link::after {
  content: "";
  background-color: var(--orange);
  bottom: -2px;
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  opacity: 0;
  display: block;
  transform: scaleX(0);
  transition: opacity 250ms linear, transform 300ms linear;
}

.nav-link:hover::after {
  opacity: 1;
  transform: scaleX(1);
}

.social-media-list {
  gap: 14px;
  margin: 0;
  padding: 0;
}

.social-media-list svg {
  width: 24px;
  height: 24px;
  fill: none;
  margin: 0;
  padding: 0;
  stroke: var(--dark);
}

.hero {
  display: flex;
  width: 1136px;
  height: 600px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 30px;
  background: var(--grey);
  padding: 381px 40px 40px 40px;
  margin: 0 auto;
  background-image: url(../images/chocolate-main.jpg);
}

.main-h1 {
  width: 484px;
  color: var(--white);
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.84px;
  margin-bottom: 32px;
}

.hero-button {
  background-color: var(--orange);
  color: var(--white);
  font-size: 14px;
  font-weight: 600;
  padding: 14px 40px;
  border-radius: 100px;
  border: none;
  margin: 0;
  vertical-align: middle;
}

.hero-button:focus,
.hero-button:hover {
  background-color: var(--milk);
  color: var(--orange);
  cursor: pointer;
}

.hero-link-one {
  display: inline-block;
  vertical-align: middle;
  color: var(--white);
  font-size: 14px;
  font-weight: 600;
  padding: 14px 40px;
  margin-left: 14px;
  border-radius: 100px;
  border: 1px solid var(--white);
}

.hero-link-one:focus,
.hero-link-one:hover {
  color: var(--orange);
  border-color: var(--orange);
}

.hero-link-two {
  vertical-align: middle;
  display: inline-block;
  margin-left: 585px;
  text-align: right;
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.42px;
  align-items: baseline;
  transition: color 250ms linear;
}

.hero-link-two:hover {
  color: var(--orange);
}

.hero-link-two .scroll-down {
  fill: var(--orange);
  vertical-align: middle;
  background-color: var(--white);
  border-radius: 50%;
  margin-left: 8px;

  transition: stroke 250ms linear, fill 250ms linear, background-color 250ms linear;
}

.hero-link-two:hover .scroll-down {
  fill: var(--white);
  stroke: var(--white);
  background-color: var(--orange);
}

.section-two {
  background-color: var(--dark);
  color: var(--white);
  margin-top: 80px;
}

.section-two .container {
  width: 1228px;
}

.description-list {
  display: flex;
  flex-wrap: wrap;
}

.description-list-item {
  padding: 50px;
  flex-basis: calc((100% - 176px) / 3);
}

.discription-text-two {
  display: flex;
  position: relative;
}

.discription-text-two::before {
  position: absolute;
  right: -44px;
  bottom: 62px;
  display: block;
  content: "";
  width: 1px;
  height: 124px;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}

.discription-text-two::after {
  position: absolute;
  bottom: 62px;
  left: -44px;
  content: "";
  width: 1px;
  height: 124px;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}

.description-icon {
  width: 64px;
  height: 64px;
  border-radius: 365px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 15px;
  margin-bottom: 19px;
}

.description-icon use {
  fill: var(--dark);
}

.two {
  color: var(--dark);
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  padding-bottom: 50px;
}

.three {
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 18px;
}

.three-section-two {
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
}

.discription-text {
  width: 308px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
  letter-spacing: -0.28px;
  margin-top: 18px;
}

.two-section-three {
  max-width: 412px;
  margin: 0 auto;
  padding-bottom: 0;
}

.ingridients-overlay {
  display: flex;
  padding: 20px 15px;
  height: 100%;
  width: 100%;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  transform: translateY(100%);
  pointer-events: none;
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 15px;
  background-color: var(--white);
  background: var(--white);
}

.overlay-text {
  color: var(--dark);
  overflow: scroll;
  text-overflow: clip;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: 0.02em;
}

.overlay-list {
  display: flex;
  gap: 8px;
  margin-bottom: 14px;
}

.orange-list {
  display: flex;
  color: var(--white);
  background-color: var(--orange);
  border-radius: 35px;

  padding: 6px 16px;

  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
}

.white-list {
  display: flex;
  color: var(--dark);
  border-radius: 35px;
  border: 1px solid var(--unnamed, #fd9222);
  background: var(--unnamed, #fafafa);

  padding: 6px 16px;

  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
}

.section-three-list {
  overflow: hidden;
}

.section-three-list-items:hover .ingridients-overlay {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}

.section-three-benefits-text {
  padding-top: 28px;
  padding-bottom: 50px;
  color: var(--dark);
  text-align: center;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.02em;
  margin: 0 auto;
  max-width: 486px;
}

.ingridient-text-overlay {
  width: 214px;
  margin: 0;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark);
}

.ingridient-text {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.28px;
  text-transform: uppercase;
  padding-top: 36px;
}

.orange-color {
  color: var(--orange);
}

.section-three-list {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  row-gap: 24px;
}

.section-three-list-items {
  position: relative;
  max-width: 260px;
  height: 270px;
  border-radius: 15px;
  width: calc((100% - 96px) / 4);
  padding: 28px 23px;

  transition: background-color 500ms linear, border-color 500ms linear;
}

.icon-arrow {
  position: absolute;
  top: 14px;
  right: 14px;
  transition: stroke 500ms linear, fill 500ms linear;
}

.section-three-list-items:nth-child(odd) .icon-arrow {
  stroke: var(--white);
}

.section-three-list-items:nth-child(even) .icon-arrow {
  stroke: var(--orange);
}

.section-three-list-items:hover .icon-arrow {
  fill: var(--white);
  stroke: var(--white);
}

.section-three-list-items:nth-child(even) {
  background-color: var(--white);
  color: var(--dark);
  border: 1px solid #fd9222;
}

.section-three-list-items:hover {
  border-color: var(--white);
  background-color: var(--white);
}

.item-1,
.item-5 {
  background-color: var(--orange);
  color: var(--white);
}

.item-3,
.item-7 {
  background-color: var(--light-dark);
  color: var(--white);
}

.container-section-four {
  display: flex;
  justify-content: center;
}

.section-four-video {
  position: relative;
}

.divider-line {
  width: 95%;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.15); /* Задайте бажаний колір та стиль полоски */
}

.icon-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-four-video:hover {
  cursor: pointer;
}

.section-four-diplay-div {
  border-radius: 15px;
  background: #fff;
  display: flex;
  width: 516px;
  flex-direction: column;
  padding: 32px;
  margin-left: 20px;
}

.bold-text {
  width: 350px;
  margin-bottom: 28px;
}

.how-its-made-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: var(--dark);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.28px;
  padding-left: 16px;
}

.our-product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  row-gap: 24px;
  justify-content: center;
}

.our-product-list-items {
  width: calc((100%-54px) / 4);
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  width: 270px;
  height: 364px;
  padding: 32px 20px;
  text-align: center;
  background-color: var(--white);
}

.section-five-three {
  color: var(--dark);
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.36px;
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.our-product-list-items p {
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.24px;
  margin-bottom: 18px;
}

.price {
  display: inline-block;
  padding: 8px 20px;
  gap: 14px;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fafafa;
  color: var(--dark);
  font-size: 14px;
  font-weight: 600;
}

.top-sellers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.top-sellers-list-items {
  flex-basis: calc((100% - 32px) / 3);
  border-radius: 0px 0px 15px 15px;
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  max-width: 370px;
  text-align: center;
}

.section-six-three {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.36px;
  text-transform: uppercase;
  padding: 28px 0;
}

.section-seven-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.section-seven-list-items {
  flex-basis: calc((100% - 56px) / 3);
  max-width: 360px;
}

.team-box {
  width: 360px;
  height: 200px;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.28px;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  box-shadow: 0px 9.049315452575684px 100px 0px rgba(17, 17, 17, 0.03);
  padding: 0;
}

.team-box p {
  color: var(--grey);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.28px;
  padding: 24px;
  margin: 0;
}

.team-name {
  padding-top: 56px;
  margin: 0;
}

.two-team {
  padding-top: 0;
  padding-bottom: 24px;
}

.section-seven-list-items-img {
  padding: 0;
  margin: 0 0 -40px 136px;
  max-width: 80px;
  max-height: 80px;
}

.section-seven-list {
  justify-content: center;
}

.team-button {
  border-radius: 100px;
  border: 1px solid #fd9222;
  padding: 14px 40px;
  color: var(--dark);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  background-color: var(--white-milk);
  display: block;
  margin: auto;
  margin-top: 50px;
}

.team-button:focus,
.team-button:hover {
  color: var(--white);
  background-color: var(--orange);
  cursor: pointer;
}

.footer-big-text {
  color: var(--white);
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.56px;
  width: 300px;
  margin: 0;
  padding: 0;
}

.footer-top-part {
  display: flex;
  padding: 50px 32px;
}

.social-network-list {
  display: flex;
  gap: 14px;
}

.social-network-list svg {
  stroke: var(--white);
}

.footer-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.social-network-div,
.address-div {
  display: flex;
  flex-direction: column;
}

.social-network-div {
  margin-left: auto;
  margin-right: 50px;
}

.footer-bottom-part {
  display: flex;
  padding: 24px 32px 50px;
}

input[name="inputName"] {
  margin-left: auto;
  border-radius: 30px;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  background-color: var(--light-dark);
  padding: 14px 24px;
  margin-right: 8px;
  width: 313px;
  color: var(--white);
}

.footer-input:hover {
  border-color: var(--orange);
}

.address-list a {
  color: var(--white);
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
  letter-spacing: -0.28px;
}

.address-list a:hover {
  color: var(--orange);
}

.social-network-text,
.address-text {
  margin: 0;
  font-size: 14px;
  padding-bottom: 14px;
}

.footer-button {
  background-color: var(--orange);
  border-radius: 100px;
  color: var(--white);
  font-size: 14px;
  font-weight: 600;
  padding: 17px 40px;
  border: none;
}

.footer-button:focus,
.footer-button:hover {
  background-color: var(--milk);
  color: var(--orange);
  cursor: pointer;
}

.nav-list-footer {
  display: flex;
  gap: 24px;
}

.nav-list-footer a {
  color: #fff;
  font-size: 14px;
  letter-spacing: -0.28px;
}

.social-network-list svg:focus,
.social-network-list svg:hover,
.social-media-list svg:focus,
.social-media-list svg:hover {
  stroke: #fd9222;
}

.nav-list a:focus:not(.logo-link),
.nav-list a:hover:not(.logo-link),
.nav-list a:focus:not(.logo-link),
.nav-list a:hover:not(.logo-link) {
  color: var(--orange);
}

/* modal window */

.backdrop {
  position: fixed;
  opacity: 1;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.3);
  transition: opacity 250ms linear, visiblity 250ms linear;
}

.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
}

.modal {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 517px;
  height: 794px;

  background-color: var(--white-milk);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  padding: 30px;
  transition: transform 250ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%);
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
  border: none;
  background-color: var(--white-milk);
}

.icon-x {
  stroke: var(--dark);
  min-height: 24px;
  min-width: 24px;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-x:hover {
  stroke: var(--orange);
}

.modal-btn:focus,
.modal-btn:hover {
  border: none;
}

.modal-text {
  max-width: 298px;
  color: #111;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin: 10px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.form-input {
  padding: 22px 24px;
  margin-bottom: 18px;

  height: 68px;
  width: 437px;

  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input::placeholder {
  font-size: 30px;
}

.form-input:hover,
.form-input:active,
.form-input:focus {
  border: 1.5px solid var(--orange);
}

.input-user {
  background-image: url(./images/sprite.svg#icon-phone);
}

.form-input-label {
  margin-bottom: 8px;
  color: rgba(64, 64, 64, 0.3);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.28px;
}

.comment {
  padding: 22px 24px;
  resize: none;
  min-width: 437px;
  max-height: 138px;
  margin-bottom: 18px;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
}

.privat-policy-div {
  display: flex;
}

.privat-policy {
  color: var(--orange);
}

.privat-policy-text {
  color: rgba(64, 64, 64, 0.6);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.02em;
  margin-left: 12px;
}

.form-checkbox {
  margin-bottom: 40px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
}

input[type="checkbox"] {
  color: var(--white);
}

.form-checkbox:checked {
  color: var(--orange);
}

.modal-submit-button {
  background-color: var(--orange);
  border-radius: 100px;
  color: var(--white);
  font-size: 14px;
  font-weight: 600;
  padding: 17px 40px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.modal-submit-button:hover {
  background-color: var(--milk);
  color: var(--orange);
  cursor: pointer;
}

.js-speaker-form {
  padding: 10px;
}
